<div class="container">
  <div class="div-banner bg-dark border border-5 border-secondary rounded-top-5 d-flex bg-gradient" style="height: 180px;">

    <div
      *ngIf="mostrarPerfil; else divVazia"
      class="perfil-div d-flex flex-column justify-content-between align-items-center border border-2 border-secondary rounded-top-5"
      style="width: 13%; height: 100%;">
      <!-- Botão de logout -->
      <button type="button" class="btn btn-danger mt-2 logout-button" (click)="logout()">SAIR</button>
      <!-- Foto e nome do usuário -->
      <div class="d-flex flex-column align-items-center">
        <img
          [src]="usuarioLogado.imagem ? 'data:image/jpeg;base64,' + usuarioLogado.imagem : '/foto_perfil.png'" alt="Foto do usuário" [width]="isMobileOrTablet ? 70 : 100" [height]="isMobileOrTablet ? 70 : 100">
        <span class="text-white mt-2" style="font-size: 16px;">{{usuarioLogado.login}}</span>
      </div>
    </div>

    <ng-template #divVazia>
      <div
        class="perfil-div d-flex flex-column justify-content-between align-items-center"
        style="width: 13%; height: 100%; background-color: transparent;">
      </div>
    </ng-template>

    <!-- Coluna para o título e botões de navegação (80%) -->
    <div class="w-100 ps-3 d-flex flex-column justify-content-center" style="height: 100%; margin-left: -85px;" [ngClass]="{'centralizado': !mostrarPerfil}">
      <div id="div_banner_menu">
        <div *ngIf="!isMobileOrTablet">
          <img src="/logo_produtos.png" alt="Logo" class="position-absolute" width="165" height="120" style="right: 60px;">
        </div>

        <!-- Botões de navegação -->
        <div *ngIf="!isMobileOrTablet">
          <h2 class="text-center text-white position-relative" style="line-height: 1.2;">
          <span style="color: red; font-size: 60px; font-family: 'Leckerli One', cursive;">P<span style="color: red; font-size: 30px; font-family: 'Merienda', cursive">RO</span>
          <span style="color: white; font-size: 30px; font-family: 'Merienda', cursive">DIFY</span>
          </span>
          </h2>
          <ul class="text-center list-inline py-1" style="font-size: 14px;">
            <li class="list-inline-item">
              <a routerLink="/login" class="btn btn-outline-secondary fw-bold">Início</a>
            </li>
            <li class="list-inline-item">
              <div class="btn-group">
                <button type="button" class="btn btn-outline-secondary fw-bold dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Gerenciar produtos
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" routerLink="/produtos">Listar produtos</a>
                  <a class="dropdown-item" routerLink="/addproduto">Cadastrar produtos</a>
                </div>
              </div>
            </li>
            <li class="list-inline-item">
              <div class="btn-group">
                <button type="button" class="btn btn-outline-secondary fw-bold dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Gerenciar fornecedores
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" routerLink="/geoloc">Localizar fornecedor</a>
                  <a class="dropdown-item" routerLink="/addfornecedor">Cadastrar fornecedor</a>
                  <a class="dropdown-item" routerLink="/listarfornecedores">Listar fornecedores</a>
                </div>
              </div>
            </li>
            <li class="list-inline-item">
              <a routerLink="/sobreTab1" class="btn btn-outline-secondary fw-bold">Sobre</a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.sistemaprodify.com/swagger-ui/index.html" target="_blank" class="btn btn-outline-secondary fw-bold">Swagger</a>
            </li>
          </ul>
        </div>

        <!-- Menu para mobile/tablet -->
        <div *ngIf="isMobileOrTablet" class="mobile-menu">
          <h2 class="text-center text-white position-relative" style="line-height: 1.2;">
          <span style="color: red; font-size: 60px; font-family: 'Leckerli One', cursive;">P<span style="color: red; font-size: 40px; font-family: 'Merienda', cursive">RO</span>
          <span style="color: white; font-size: 40px; font-family: 'Merienda', cursive">DIFY</span>
          </span>
          </h2>
          
          <!-- Overlay para escurecer o fundo -->
          <div class="menu-overlay" [class.active]="menuOpen" (click)="abrirFecharMenu()"></div>
          
          <!-- Botão de hambúrguer para abrir/fechar o menu -->
          <div class="botao-menu-celular">
            <button class="btn menu-mobile-btn" (click)="abrirFecharMenu()">
              &#9776;
            </button>
          </div>
          
          <!-- Menu que é exibido ao clicar no botão -->
          <div *ngIf="menuOpen" class="mobile-menu-options">
            <ul class="mdc-list">
              <li>
                <a routerLink="/login" (click)="abrirFecharMenu()">Início</a>
              </li>
              
              <!-- Submenu Produtos -->
              <li class="mobile-submenu">
                <div class="mobile-submenu-header" (click)="toggleSubmenu($event)">
                  <span>Gerenciar Produtos</span>
                  <span class="submenu-arrow">▼</span>
                </div>
                <ul class="mobile-submenu-items">
                  <li>
                    <a routerLink="/produtos" (click)="abrirFecharMenu()">Listar produtos</a>
                  </li>
                  <li>
                    <a routerLink="/addproduto" (click)="abrirFecharMenu()">Cadastrar produto</a>
                  </li>
                </ul>
              </li>

              <!-- Submenu Fornecedores -->
              <li class="mobile-submenu">
                <div class="mobile-submenu-header" (click)="toggleSubmenu($event)">
                  <span>Gerenciar Fornecedores</span>
                  <span class="submenu-arrow">▼</span>
                </div>
                <ul class="mobile-submenu-items">
                  <li>
                    <a routerLink="/geoloc" (click)="abrirFecharMenu()">Localizar fornecedor</a>
                  </li>
                  <li>
                    <a routerLink="/addfornecedor" (click)="abrirFecharMenu()">Cadastrar fornecedor</a>
                  </li>
                  <li>
                    <a routerLink="/listarfornecedores" (click)="abrirFecharMenu()">Listar fornecedores</a>
                  </li>
                </ul>
              </li>

              <li>
                <a routerLink="/sobreTab1" (click)="abrirFecharMenu()">Sobre</a>
              </li>
              <li>
                <a href="https://www.sistemaprodify.com/swagger-ui/index.html" target="_blank" (click)="abrirFecharMenu()">Swagger</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div>
    <button id="btnTrocarTema" (click)="alternarTema()" class="btn btn-light-dark fw-bold">
      <i [class]="temaEscuro ? 'bi bi-sun' : 'bi bi-moon'"></i>
    </button>
    </div>
  </div>

  <!-- Barra personalizada -->
  <div class="custom-bar rounded-bottom-5">
    <div class="image-bar-container">
      <img src="/java_img.png" alt="Imagem 1" class="background-bar-image image-bar-1">
      <img src="/spring_img.png" alt="Imagem 2" class="background-bar-image image-bar-2">
      <img src="/angular_img.png" alt="Imagem 3" class="background-bar-image image-bar-3">
    </div>  
    <div class="text-bar">
      <span *ngIf="!isMobileOrTablet" style="font-size: 14px;">Quer ter acesso ao código do Sistema PRODIFY? Envie uma mensagem para (41) 99539-7044 ou matheusreynardkolling2&#64;gmail.com e solicite acesso ao GitHub por apenas R$ 199,90.</span>
      <span *ngIf="isMobileOrTablet" style="font-size: 11px;">GitHub Prodify por R$199,90 - MSG Para (41)99539-7044 / matheusreynardkolling2&#64;gmail.com</span>
    </div>
  </div>

  <router-outlet></router-outlet>

  <div class="bg-dark border border-5 border-secondary position-relative">
    <div class="card-body text-center text-white">
      <div class="bg-gradient p-3">
        <div class="d-flex align-items-center">
          <img src="/whatsapp-logo.png" height="30" width="30" id="img-whats" class="ms-n2 me-3" />
          <div class="d-flex flex-wrap align-items-center">
            <span class="me-2 fonte-rodape">(41) 99539-7044 |</span>
            <span class="me-2 fonte-rodape">Acessos: {{numeroVisitas}} |</span>
            <span class="me-2 fonte-rodape">MATHEUS REYNARD - </span>
            <span class="me-1 fonte-rodape"><a href="https://www.linkedin.com/in/matheus-reynard" target="_blank">Conheça o Desenvolvedor!</a></span>
          </div>
        </div>
      </div>

      <!-- Contêiner da notícia rolante -->
      <div class="news-container">
        <div class="news-marquee">
          <marquee behavior="scroll" scrollamount="10" direction="left">
            <span>PRODIFY - Sistema de gerenciamento de produtos - Desenvolvido em Java, Spring e Angular por Matheus Reynard. Saiba mais sobre mim, minha carreira e projetos em www.linkedin.com/in/matheus-reynard</span>
          </marquee>
        </div>
      </div>

      <img src="/logo_sacolas.png" alt="Logo" class="position-absolute end-0 bottom-0" width="150" height="110">
    </div>
  </div>
</div>
