<div class="container d-flex flex-column">
  <ul class="nav nav-tabs flex-grow-0">
    <li class="nav-item">
      <a class="nav-link disabled">SOBRE O DEV</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/sobreTab2">INFOS SISTEMA</a>
    </li>
  </ul>
  <div class="div-tabela">
    <div class="flex-grow-1"> <!-- Usa flex-grow para ocupar o espaço restante -->
      <mat-card class="profile-card">
        <mat-card-header>
          <mat-card-title>
            <p id="titulo">
              MATHEUS REYNARD
            </p>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            <span><a href="https://www.linkedin.com/in/matheus-reynard" target="_blank"><img src="/linkedin-logo.png" height="30" width="30"/></a> Perfil | </span>
            <span><img src="/whatsapp-logo.png" height="30" width="30"/>(41) 99539-7044 | </span>
            <span><a href="https://bit.ly/cv-math-rey" target="_blank"><img src="/cvpdf.png" height="30" width="30"/></a> Currículo | </span>
            <span><a href="https://github.com/matheusreynard2" target="_blank"><img src="/github.png" height="30" width="30"/></a> GitHub Profile</span>
          </p>
          <hr>
          <p>
            Sou Desenvolvedor Full-Stack formado em Bacharelado em Sistemas de Informação, com 3 anos de
            experiência profissional em Java e 6 anos como desenvolvedor. Possuo maior experiência no back-end, mas
            também atuo no front-end com Angular / React.js / TypeScript, desenvolvendo vários projetos nestes frameworks.
            Desenvolvo REST APIs / Microsserviços em Spring Boot / Spring Cloud utilizando as arquiteturas MVC / Clean Architecture e 
            princípios como SOLID e Clean Code, e banco de dados relacional como Microsoft SQL Server e PostgreSQL.
            Atuei em empresas como Sinqia, TCE/PR, iCresol e Noovi. Fui responsável pela integração do sistema de crédito da
            Sinqia com o sistema da Getnet e da Senf no que diz respeito a gestão de contratos com a Câmara
            Interbancária de Pagamentos, por meio de Stored Procedures e APIs. Também participei da migração do
            sistema legado em Delphi da Sinqia para Java e otimizei processos nos módulos de cadastro e crédito, 
            melhorando a usabilidade do produto para o cliente. Além disso, implementei novas funcionalidades
            alinhadas com as necessidades dos clientes e atuei na manutenção e melhoria do produto. Possuo alto
            nível de conhecimento em T-SQL e PL/SQL, realizando consultas de grande porte e estruturando Stored
            Procedures, proporcionando resultados em questão de segundos e organizando os dados para melhor
            compreensão.
            Fui responsável pela geração de telas de relatórios financeiros para o módulo de crédito da Sinqia,
            buscando dados e informações por meio de consultas SQL completas, proporcionando ao usuário todas as
            informações necessárias.
            Sou organizado, pró-ativo, disciplinado e detalhista. Dou total atenção ao resultado final do meu trabalho
            pois acredito em resultados.</p><br>
          <p><strong>Conhecimentos</strong><br><br>
            <u>Back-end</u><br>
            Java 8 / 11 / 17 | Spring Boot / Data / MVC / Security / Cloud (Microsserviços) | REST API | SOAP API | Clean Architecture<br>
            WebSockets | Testes unitários ( JUnit 4/5 / Mockito ) | JPA Native Query | TDD - Test Driven Design<br><br>
            <u>Banco de dados</u><br>
            T-SQL e PL/SQL ( Microsoft SQL Server / PostgreSQL / Oracle ) | Stored Procedures | Triggers | Jobs<br><br>
            <u>Front-end</u><br>
            Angular | TypeScript | HTML | CSS | Bootstrap | React.js<br><br>
            <u>Conhecimentos e ferramentas extras</u><br>
            Clean Code | SOLID | SonarQube | Design Patterns ( Strategy / Singleton / Facade ) | Nexus | Swagger<br>
            Metodologias ágeis ( Scrum / Kanban ) Git / GitHub / Gitflow | Linux | Jira | Confluence | BitBucket<br>
            Domínio de versionamento de código, integração contínua e entrega contínua (CI/CD - Jenkins)<br>
            Domínio intermediário de deploy com Docker e Kubernetes</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
