.div-tabela {
  overflow-y: auto; /* Mantém o scroll vertical */
  height: calc(100vh - 50px); /* Define uma altura dinâmica com base no viewport */
}

.container {
  width: 100%;
  margin: 0 auto;
  overflow-x: auto; /* Permite rolagem horizontal, se necessário */
  display: flex;
  flex-direction: column; /* Garante layout em coluna */
  height: 100vh; /* Garante que a altura do container seja 100% da viewport */
}

.mat-card-subtitle {
  font-size: 16px; /* Tamanho da fonte do subtítulo */
  color: black;
}
.mat-card-content {
  color: black;
  overflow-y: auto; /* Barra de rolagem vertical, se necessário */
  height: 100%; /* Use 100% da altura do contêiner pai */
}

.profile-card {
  width: 100%; /* Ocupar 100% da largura disponível */
  padding: 20px; /* Você pode ajustar conforme necessário */
  box-shadow: none; /* Remover sombra, se necessário, para um visual mais limpo */
  text-align: justify;
  overflow-y: auto;
}

/* Definindo a cor do texto */
.profile-card label {
  color: black;
}
.profile-card p {
  font-size: 16px;
  color: black;
}
.profile-card #titulo {
  font-size: 24px;
  color: black;
}
.profile-card h1,
.profile-card h2,
.profile-card h3,
.profile-card h4,
.profile-card h5,
.profile-card h6 {
  color: black; /* Define que todas as escritas sejam pretas */
}

/* /////////////// ABAS //////////////////////// */
.nav-tabs {
  border-bottom: 2px solid #dee2e6; /* Borda inferior das abas */
}

.nav-tabs .nav-link {
  color: #6c757d; /* Texto cinza escuro */
  background-color: #f8f9fa; /* Fundo cinza claro */
  border: none;
  border-radius: 0.375rem 0.375rem 0 0; /* Canto arredondado superior */
  margin-right: 5px;
  padding: 0.75rem 1.5rem;
  transition: all 0.3s ease;
}

.nav-tabs .nav-link:hover:not(.active):not(.disabled) {
  background-color: #e9ecef; /* Cinza no hover */
  color: #343a40; /* Texto mais escuro no hover */
}

.nav-tabs .nav-link.active {
  color: #fff;
  background-color: #212529; /* Aba ativa preta */
  border-bottom: 2px solid transparent; /* Some a borda inferior ativa */
}

.nav-tabs .nav-link.disabled {
  color: #adb5bd; /* Cinza claro desabilitado */
  background-color: #f1f3f5; /* Fundo cinza mais claro */
  cursor: not-allowed;
}

/* ///////////////DARK MODE ABAS //////////////////////// */

.nav-tabs.dark-mode {
  border-bottom: 2px solid #333;
}

.nav-tabs.dark-mode .nav-link {
  color: #ced4da; /* Texto cinza claro */
  background-color: #212529; /* Fundo preto */
  border: none;
  border-radius: 0.375rem 0.375rem 0 0;
  margin-right: 5px;
  padding: 0.75rem 1.5rem;
}

.nav-tabs.dark-mode .nav-link:hover:not(.active):not(.disabled) {
  background-color: #343a40; /* Cinza escuro no hover */
  color: #fff; /* Texto branco */
}

.nav-tabs.dark-mode .nav-link.active {
  color: #212529; /* Texto preto */
  background-color: #f8f9fa; /* Fundo cinza claro */
  border-bottom: 2px solid transparent;
}

.nav-tabs.dark-mode .nav-link.disabled {
  color: #6c757d;
  background-color: #343a40;
  cursor: not-allowed;
}
