<div class="container d-flex flex-column">
  <ul class="nav nav-tabs flex-grow-0">
    <li class="nav-item">
      <a class="nav-link" routerLink="/sobreTab1">SOBRE O DEV</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">INFOS SISTEMA</a>
    </li>
  </ul>
  <div class="div-tabela">
    <div class="flex-grow-1"> <!-- Usa flex-grow para ocupar o espaço restante -->
      <mat-card class="profile-card">
        <mat-card-header>
          <mat-card-title><p id="titulo">SISTEMA PRODIFY - GERENCIAMENTO DE PRODUTOS</p></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            <span><a href="https://github.com/matheusreynard2/portfolio" target="_blank"><img src="/github.png" height="30" width="30"/> REPOSITÓRIO GITHUB - CÓDIGO DO PROJETO</a></span>
          </p>
          <hr>
          <p>
            Este sistema basicamente consiste em um gerenciamento de produtos, com fornecedores relacionados.
            Na página "Gerenciar produtos > Cadastrar produtos", é possível fazer o cadastro de um produto com as informações fornecidas, e relacionar um
            fornecedor, que por sua vez é cadastrado na página "Gerenciar fornecedores > Cadastrar fornecedores".
            Na página "Lista de produtos", é possível listar todos os produtos cadastrados, consultar um por um através
            do número do ID ou do nome em um campo de busca, atualizar as informações do produto e excluir um produto
            já existente. Dentre as funcionalidades do sistema estão inclusas: adicionar quantidade, colocar um produto em promoção e aplicar
            sobre ele um desconto de 0 a 100%, calcular frete, vincular uma imagem ao produto, calcular a média de preço dos produtos
            já cadastrados e calcular qual o preço do produto mais caro. De maneiras mais técnica, estão detalhadas
            abaixo as funcionalidades do Sistema PRODIFY:</p><br>
          <p><strong>Funcionalidades</strong><br>
            <br>- CRUD de produtos e fornecedores
            <br>- Relação Produto X Fornecedor
            <br>- Relação Produto X Usuário
            <br>- Relação Fornecedor X Usuário
            <br>- Calculo de quantidade X valor unitário
            <br>- Cálculo de produto cadastrado com valor mais caro
            <br>- Cálculo da média de preço entre os produtos cadastrados
            <br>- Cálculo de desconto aplicado de 0 a 100% (não aceita decimais) sobre o preço do produto
            <br>- Cálculo de frete
            <br>- Campo de buscar produtos por ID e Nome
            <br>- Upload de arquivo de imagem para relacionar com o produto
            <br>- Swagger com detalhes dos endpoints
            <br>- Spring Security - JWT (Autenticação / Token / Role USER / Criptografia de senha / Expiração de token)
            <br>- Cadastro de usuários / Login / Verificação de login já cadastrado
            <br>- Contador de acessos por IP
            <br>- Certificado SSL - Endereço HTTPS
            <br>- Totalmente responsivo
            <br>- Layout Modo Dark ON/OFF
            <br>- Integração com Google Cloud APIs para informações de localização
            <br>- Integração com Via CEP API para preenchimento automático e detalhado de endereço
            <br>- Integração com Brasil API para detecção de CNPJ e preenchimento automático e detalhado de informações da empresa
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
