.div-tabela {
  overflow-y: auto; /* Mantém o scroll vertical */
  height: calc(100vh - 50px); /* Define uma altura dinâmica com base no viewport */
}

.container {
  width: 100%;
  margin: 0 auto;
  overflow-x: auto; /* Permite rolagem horizontal, se necessário */
  display: flex;
  flex-direction: column; /* Garante layout em coluna */
  height: 100vh; /* Garante que a altura do container seja 100% da viewport */
}

.mat-card-subtitle {
  font-size: 16px; /* Tamanho da fonte do subtítulo */
  color: black;
}
.mat-card-content {
  color: black;
  overflow-y: auto; /* Barra de rolagem vertical, se necessário */
  height: 100%; /* Use 100% da altura do contêiner pai */
}

.profile-card {
  width: 100%; /* Ocupar 100% da largura disponível */
  padding: 20px; /* Você pode ajustar conforme necessário */
  box-shadow: none; /* Remover sombra, se necessário, para um visual mais limpo */
  text-align: justify;
  overflow-y: auto;
}

/* Definindo a cor do texto */
.profile-card label {
  color: black;
}
.profile-card p {
  font-size: 16px;
  color: black;
}
.profile-card #titulo {
  font-size: 24px;
  color: black;
}
.profile-card h1,
.profile-card h2,
.profile-card h3,
.profile-card h4,
.profile-card h5,
.profile-card h6 {
  color: black; /* Define que todas as escritas sejam pretas */
}
