<!-- tab1.component.html -->
<div class="container mt-5">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link disabled">SOBRE O DEV</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/sobreTab2">INFOS SISTEMA</a>
    </li>
  </ul>

  <div class="div-tabela">
    <!-- Conteúdo da Tab 1 -->
    <div class="tab-content mt-3">
      <table class="table table-no-border">
          <thead>
          <th>
            MATHEUS REYNARD<br>
            Bacharel em Sistemas de Informação<br>
            Desenvolvedor Java Pleno
          </th>
          <th></th>
          </thead>
          <tbody>
          <tr>
        <td><label>
          Experiência de 5 anos como Dev e 2 em Java.
        </label></td>
        <td></td>
          </tr>
          <tr>
            <td><label><strong>CONHECIMENTOS</strong></label></td>
            <td><label></label></td>
          </tr>
          <tr>
          <td><label>* Java 8/11/17</label></td>
          <td><label></label></td>
        </tr>
        <tr>
          <td><label>* Spring Boot/MVC/Data/Security</label></td>
          <td><label></label></td>
        </tr>
        <tr>
          <td><label>* Angular/TypeScript</label></td>
          <td><label></label></td>
        </tr>
        <tr>
          <td><label>* REST API</label></td>
          <td><label></label></td>
        </tr>
        <tr>
          <td><label>* Testes Unitários (JUnit/Mockito)</label></td>
          <td><label></label></td>
        </tr>
        <tr>
          <td><label>* CI/CD (Jenkins)</label></td>
          <td><label></label></td>
        </tr>
        <tr>
          <td><label>* Docker/Kubernetes</label></td>
          <td><label></label></td>
        </tr>
        <tr>
          <td><label>* Git/GitHub/Gitflow</label></td>
          <td><label></label></td>
        </tr>
        <tr>
          <td><label>* Manifesto ágil (Scrum/Kanban)</label></td>
          <td><label></label></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
