<div class="container d-flex flex-column">
  <ul class="nav nav-tabs flex-grow-0">
    <li class="nav-item">
      <a class="nav-link disabled">SOBRE O DEV</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/sobreTab2">INFOS SISTEMA</a>
    </li>
  </ul>
  <div class="flex-grow-1"> <!-- Usa flex-grow para ocupar o espaço restante -->
    <mat-card class="profile-card">
      <mat-card-header>
        <mat-card-title><p id="titulo">MATHEUS REYNARD</p></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
        Sou Desenvolvedor Full-Stack formado em Bacharelado em Sistemas de Informação, com 2 anos de
        experiência profissional em Java e 5 anos como desenvolvedor. Possuo maior experiência no back-end, mas
        também atuo no front-end com Angular / TypeScript, desenvolvendo vários projetos neste framework.
        Desenvolvo REST APIs em Spring Boot utilizando a arquitetura MVC e princípios como SOLID e Clean Code, e
        banco de dados relacional como Microsoft SQL Server e PostgreSQL.
        Atuei em empresas como Sinqia, TCE/PR e iCresol. Fui responsável pela integração do sistema de crédito da
        Sinqia com o sistema da Getnet e da Senf no que diz respeito a gestão de contratos com a Câmara
        Interbancária de Pagamentos, por meio de Stored Procedures e APIs. Também participei da migração do
        sistema legado em Delphi da Sinqia para Java e otimizei processos nos módulos de cadastro e crédito da
        Sinqia, melhorando a usabilidade do produto para o cliente. Além disso, implementei novas funcionalidades
        alinhadas com as necessidades dos clientes e atuei na manutenção e melhoria do produto. Possuo alto
        nível de conhecimento em T-SQL e PL/SQL, realizando consultas de grande porte e estruturando Stored
        Procedures, proporcionando resultados em questão de segundos e organizando os dados para melhor
        compreensão.
        Fui responsável pela geração de telas de relatórios financeiros para o módulo de crédito da Sinqia,
        buscando dados e informações por meio de consultas SQL completas, proporcionando ao usuário todas as
        informações necessárias.
        Sou organizado, pró-ativo, disciplinado e detalhista. Dou total atenção ao resultado final do meu trabalho
        pois acredito em resultados.</p><br>
        <p><strong>Conhecimentos</strong><br><br>
        <u>Back-end</u><br>
        Java 8 / 11 / 17 | Spring Boot / Data / MVC / Security | REST API | Native Query<br>
        SQL ( Microsoft SQL Server / PostgreSQL ) | Testes unitários ( JUnit / Mockito )<br><br>
        <u>Front-end</u><br>
        Angular | TypeScript | HTML | CSS | Bootstrap<br><br>
        <u>Conhecimentos e ferramentas extras</u><br>
        Clean Code | SOLID | SonarQube | Design Patterns | Metodologias ágeis ( Scrum / Kanban )<br>
        Domínio de versionamento de código, integração contínua e entrega contínua (CI/CD - Jenkins)<br>
        Git / GitHub / Gitflow | Linux | Jira | Confluence | BitBucket | Nexus | Docker | Swagger | Kubernetes</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
