<!-- tab2.component.html -->
<div class="container mt-5">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/sobreTab1">SOBRE O DEV</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">INFOS SISTEMA</a>
    </li>
  </ul>

  <!-- Conteúdo da Tab 2 -->
  <div class="tab-content mt-3">
    <table class="table table-no-border">
      <thead>
      <tr>
        <th>PÁGINA EM CONSTRUÇÃO</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><label></label></td>
        <td><label></label></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
