<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #fornecedorForm="ngForm">
      <div class="div-tabela">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th colspan="6" class="text-center">Cadastrar um novo fornecedor</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <span style="color: red">* </span>
              <label for="nomeFornecedor">Nome do Fornecedor:</label>
            </td>
            <td>
              <input type="text" id="nomeFornecedor"
                     class="form-control"
                     name="nomeFornecedor"
                     placeholder="Insira o nome do fornecedor."
                     maxlength="50">
            </td>
            <td><label for="cep">CEP:</label></td>
            <td>
              <input type="text" [(ngModel)]="endereco.cep"
                     class="form-control"
                     id="cep"
                     name="cepFornecedor"
                     placeholder="Insira o CEP."
                     required #cep="ngModel"
                     maxlength="9">
            </td>
            <td colspan="2">
              <button type="button" class="btn btn-secondary" (click)="buscarEnderecoPorCep(endereco.cep)">Buscar</button>
            </td>
          </tr>
          <tr>
            <td><label for="logradouro">Logradouro:</label></td>
            <td>
              <input type="text" [(ngModel)]="endereco.logradouro"
                     class="form-control"
                     id="logradouro"
                     name="logradouroFornecedor"
                     readonly>
            </td>
            <td><label for="complemento">Complemento:</label></td>
            <td colspan="3">
              <input type="text" [(ngModel)]="endereco.complemento"
                     class="form-control"
                     id="complemento"
                     name="complementoFornecedor">
            </td>
          </tr>
          <tr>
            <td><label for="unidade">Unidade:</label></td>
            <td>
              <input type="text" [(ngModel)]="endereco.unidade"
                     class="form-control"
                     id="unidade"
                     name="unidadeFornecedor"
                     readonly>
            </td>
            <td><label for="bairro">Bairro:</label></td>
            <td colspan="3">
              <input type="text" [(ngModel)]="endereco.bairro"
                     class="form-control"
                     id="bairro"
                     name="bairroFornecedor"
                     readonly>
            </td>
          </tr>
          <tr>
            <td><label for="localidade">Cidade:</label></td>
            <td>
              <input type="text" [(ngModel)]="endereco.localidade"
                     class="form-control"
                     id="localidade"
                     name="localidadeFornecedor"
                     readonly>
            </td>
            <td><label for="uf">UF:</label></td>
            <td>
              <input type="text" [(ngModel)]="endereco.uf"
                     class="form-control"
                     id="uf"
                     name="ufFornecedor"
                     readonly>
            </td>
            <td><label for="estado">Estado:</label></td>
            <td>
              <input type="text" [(ngModel)]="endereco.estado"
                     class="form-control"
                     id="estado"
                     name="estadoFornecedor"
                     readonly>
            </td>
          </tr>
          <tr>
            <td><label for="regiao">Região:</label></td>
            <td>
              <input type="text" [(ngModel)]="endereco.regiao"
                     class="form-control"
                     id="regiao"
                     name="regiaoFornecedor"
                     readonly>
            </td>
            <td><label for="ibge">IBGE:</label></td>
            <td>
              <input type="text" [(ngModel)]="endereco.ibge"
                     class="form-control"
                     id="ibge"
                     name="ibgeFornecedor"
                     readonly>
            </td>
            <td><label for="gia">GIA:</label></td>
            <td>
              <input type="text" [(ngModel)]="endereco.gia"
                     class="form-control"
                     id="gia"
                     name="giaFornecedor"
                     readonly>
            </td>
          </tr>
          <tr>
            <td><label for="ddd">DDD:</label></td>
            <td>
              <input type="text" [(ngModel)]="endereco.ddd"
                     class="form-control"
                     id="ddd"
                     name="dddFornecedor"
                     readonly>
            </td>
            <td><label for="siafi">SIAFI:</label></td>
            <td colspan="3">
              <input type="text" [(ngModel)]="endereco.siafi"
                     class="form-control"
                     id="siafi"
                     name="siafiFornecedor"
                     readonly>
            </td>
          </tr>
          <tr>
            <td colspan="6" class="text-left">
              <button type="submit" [disabled]="!fornecedorForm.form.valid" class="btn bg-primary-subtle fw-bold">Cadastrar</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
</div>

<!-- Janela (modal) que abre depois de cadastrar um fornecedor -->
<ng-template #modalMsgAddFornecedor let-modal>
  <div class="modal-header">
    <h5 class="modal-title">
      Sucesso!
    </h5>
    <img ngSrc="/codigo_barras.png" height="60" width="60" class="img-right"/>
  </div>
  <div class="modal-body">
    <p>Fornecedor <b>{{ fornecedor.nome }}</b> cadastrado.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Fechar</button>
  </div>
</ng-template>
