<div class="div-tabela">
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
      <th colspan="11" class="text-center">Produtos</th>
    </tr>
    <tr>
      <th class="text-center coluna_id"><strong>ID</strong></th>
      <th class="text-left coluna_nome"><strong>Nome</strong></th>
      <th class="text-center"><strong>Valor unitário</strong></th>
      <th class="text-center"><strong>Promoção</strong></th>
      <th class="text-center"><strong>Vl un desc</strong></th>
      <th class="text-center"><strong>Valor total</strong></th>
      <th class="text-center"><strong></strong></th>
      <th class="text-center"><strong></strong></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let produto of listaDeProdutos">
      <td class="text-center coluna_id">{{ produto.id }}</td>
      <td class="text-center">{{ produto.valor }}</td>
      <td class="text-center">
        <button type="button" class="btn btn-info full-width-btn" id="btn_editar">Editar</button>
      </td>
      <td class="text-center">
        <button type="button" class="btn btn-danger full-width-btn" id="btn_excluir">Excluir</button>
      </td>
    </tr>

    <!-- Label que exibe a variável do produto mais caro -->
    <tr>
      <td>
        <button class="btn bg-primary-subtle fw-bold" (click)="atualizarLista()" role="button">Atualizar</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<mat-paginator [length]="totalRecords" [pageSize]="pageSize" [pageIndex]="currentPage" (page)="trocarPagina($event)"></mat-paginator>
