<div class="container d-flex flex-column my-5">
  <mat-card class="profile-card">
    <mat-card-content>
      <div class="div-form-cadastrar">
        <form (ngSubmit)="onSubmit()" #cadastrarForm="ngForm">
          <div class="div-tabela">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th colspan="2" class="text-center">CADASTRAR NOVO USUÁRIO</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="coluna-label-1">
                <span style="color: red">* </span>
                <label for="login" class="required">Usuário:</label>
              </td>
              <td>
                <div class="input-group">
                <input type="text" [(ngModel)]="addUsuario.login"
                       class="form-control"
                       [class.is-invalid]="login.invalid && login.touched"
                       id="login"
                       name="loginUsuario"
                       placeholder="Insira o seu usuário."
                       required #login="ngModel"
                       maxlength="30">
                  <div *ngIf="login.invalid && login.touched" class="invalid-feedback">
                    Usuário é obrigatório.
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="coluna-label-1">
                <span style="color: red">* </span>
                <label for="senha" class="required">Senha:</label>
              </td>
              <td>
                <div class="input-group">
                <input [type]="mostrarSenha ? 'text' : 'password'"
                       [(ngModel)]="addUsuario.senha"
                       class="form-control"
                       [class.is-invalid]="senha.invalid && senha
                       .touched"
                       id="senha"
                       name="senhaUsuario"
                       placeholder="Insira sua senha."
                       required #senha="ngModel"
                       maxlength="30">
                  <span class="input-group-text" style="cursor: pointer;" (click)="toggleSenha()">
                    <i [class]="mostrarSenha ? 'bi bi-eye-slash' : 'bi bi-eye'"></i></span>
                  <div *ngIf="senha.invalid && senha.touched" class="invalid-feedback">
                    Senha é obrigatório.
                  </div>
                </div>
              </td>
            <tr>
              <td class="coluna-label-1">
                <span style="color: red">* </span>
                <label for="whatsapp" class="required">E-mail:</label>
              </td>
              <td>
                <div class="input-group">
                  <input type="text" [(ngModel)]="addUsuario.email"
                         class="form-control"
                         [class.is-invalid]="email.invalid && email
                         .touched"
                         id="email"
                         name="emailUsuario"
                         required #email="ngModel"
                         placeholder="Insira seu E-mail."
                         maxlength="30">
                  <div *ngIf="email.invalid && email.touched" class="invalid-feedback">
                    email é obrigatório.
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="coluna-label-1">
                <span>Foto perfil:</span>
              </td>
              <td>
                <input id="foto_perfil" type="file" (change)="onFileChange($event)" [disabled]="isMobileOrTablet"/>
               </td>
            </tr>
            <tr>
              <td>
                <button type="submit" [disabled]="!cadastrarForm.form.valid" class="btn bg-primary-subtle fw-bold" style="width: 100px">Cadastrar</button>
              </td>
              <td colspan="4">
                <button type="button" class="btn bg-secondary-subtle fw-bold" style="width: 100px" (click)="voltarTelaLogin()">Voltar</button>
              </td>
            </tr>
            </tbody>
          </table>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>

<!-- Janela (modal) que abre depois de cadastrar um usuário -->
<ng-template #modalMsgAddUser let-modal>
  <div class="modal-header">
    <h5 class="modal-title">
      Sucesso!
    </h5>
    <img ngSrc="/codigo_barras.png" height="60" width="60" class="img-right"/>
  </div>
  <div class="modal-body">
    <a>Usuário <b>{{ usuarioNovo.login }}</b> cadastrado.</a>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Fechar</button>
  </div>
</ng-template>

<!-- Janela (modal) que abre depois de inserir credenciais inválidas -->
<ng-template #modalMsgLoginExistente let-modal class="modal">
  <div class="modal-header">
    <h4 class="modal-title">Erro</h4>
    <img ngSrc="/codigo_barras.png" height="60" width="60" class="img-right"/>
  </div>
  <div class="modal-body">
    <a>Nome de usuário já existe.</a>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Fechar</button>
  </div>
</ng-template>
</div>
