.coluna-label-1 {
  width: 200px;
}

.coluna-label-2 {
  width: 120px;
}

.img-right {
  position: absolute;
  right: 0; /* Coloca a imagem totalmente no lado direito */
  top: 0;   /* Alinha a imagem no topo */
  opacity: 75%;
}

.div-tabela {
  width: 100%;
  margin: 0 auto;
  overflow-x: auto;
}

.container {
  overflow-x: auto;
}

.profile-card {
  width: 100%; /* Ocupar 100% da largura disponível */
  height: auto; /* Altura automática, ajusta-se ao conteúdo */
  padding: 20px; /* Você pode ajustar conforme necessário */
  box-shadow: none; /* Remover sombra, se necessário, para um visual mais limpo */
  text-align: justify;
}

.div-form-cadastrar {
  display: flex;            /* Ativa o flexbox */
  flex-direction: column;   /* Alinha os elementos em coluna */
  justify-content: center;  /* Centraliza o conteúdo verticalmente */
  align-items: center;      /* Centraliza o conteúdo horizontalmente */
  height: 100%;             /* Faz com que a div ocupe 100% da altura do mat-card */
}

.input-group {
  width: 350px;
}
