.coluna-label-1 {
  width: 50px;
}

.coluna-label-2 {
  width: 120px;
}

.img-right {
  position: absolute;
  right: 0; /* Coloca a imagem totalmente no lado direito */
  top: 0;   /* Alinha a imagem no topo */
  opacity: 75%;
}

.div-tabela {
  width: 100%;
  margin: 0 auto;
  overflow-x: auto;
}
