<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #produtoForm="ngForm">
      <div class="div-tabela">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th colspan="6" class="text-center">Cadastrar um novo produto</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <span style="color: red">* </span>
              <label for="nome" class="required">Nome:</label></td>
            <td>
              <input type="text" [(ngModel)]="produto.nome"
                     class="form-control"
                     id="nome"
                     name="nomeProduto"
                     placeholder="Insira o nome do produto."
                     required #nome="ngModel"
                     [ngClass]="{'is-invalid': nome.invalid && nome.touched}"
                     maxlength="100">
              <div *ngIf="nome.invalid && nome.touched" class="invalid-feedback">
                O nome do produto é obrigatório.
              </div>
            </td>
            <td><label for="descricao">Descrição:</label></td>
            <td colspan="3">
              <input type="text" [(ngModel)]="produto.descricao"
                     class="form-control"
                     id="descricao"
                     name="descricaoProduto"
                     placeholder="Insira a descrição do produto."
                     maxlength="100">
            </td>
          </tr>
          <tr>
            <td><label for="quantidade">Quantidade:</label></td>
            <td>
              <input type="number" [(ngModel)]="produto.quantia"
                     class="form-control"
                     id="quantidade"
                     name="quantidadeProduto"
                     required #quantidade="ngModel"
                     min="0"
                     maxlength="7"
                     [ngClass]="{'is-invalid': quantidade.value > 1000000}"
                     [ngStyle]="{color: (produto.quantia || 0) > 0 ? '#0d6efd' : '#b02a37', fontWeight: '700'}">
              <div *ngIf="quantidade.value > 1000000" class="invalid-feedback">
                A quantidade não pode ser maior que 1.000.000
              </div>
            </td>
            <td><label for="promocao">Promoção:</label></td>
            <td colspan="3">
              <select [(ngModel)]="produto.promocao"
                      class="form-control"
                      id="promocao"
                      name="promocaoProduto"
                      required #promocao="ngModel"
                      (ngModelChange)="selecionarPromocao($event)">
                <option [ngValue]="true">Sim</option>
                <option [ngValue]="false">Não</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><label for="frete">Valor do frete:</label></td>
            <td>
              <input type="text" [(ngModel)]="produto.frete"
                     class="form-control"
                     id="frete"
                     name="freteProduto"
                     required #frete="ngModel"
                     mask="separator.2" thousandSeparator="," decimalMarker="." prefix="R$ "
                     [dropSpecialCharacters]="true"
                     [disabled]="!produto.freteAtivo">
              <div *ngIf="frete.value > 2000000000" class="invalid-feedback">
                O valor do frete não pode ser maior que 2.000.000.000
              </div>
            </td>
            <td><label for="freteAtivo">Frete:</label></td>
            <td colspan="3">
              <select [(ngModel)]="produto.freteAtivo"
                      class="form-control"
                      id="freteAtivo"
                      name="freteAtivoProduto"
                      required #freteAtivo="ngModel"
                      (ngModelChange)="ativarFrete($event)">
                <option [ngValue]="true">Sim</option>
                <option [ngValue]="false">Não</option>
              </select>
            </td>
          </tr>
          
          <tr>
            <td><label for="valorInicial">Valor unitário:</label></td>
            <td>
              <input type="text" [(ngModel)]="produto.valorInicial"
                     class="form-control"
                     id="valorInicial"
                     name="valorInicialProduto"
                     required #valorInicial="ngModel"
                     mask="separator.2" thousandSeparator="," decimalMarker="." prefix="R$ "
                     [dropSpecialCharacters]="true"
                     (ngModelChange)="onValorInicialChange($event)">
              <div *ngIf="valorInicial.value > 2000000000" class="invalid-feedback">
                O valor unitário não pode ser maior que 2.000.000.000
              </div>
            </td>
            <!-- TEXTBOX COM DISPLAY=NONE APENAS PARA FINS DE CALCULO COM O NGMODEL -->
            <input type="number" [(ngModel)]="produto.valor"
                   class="form-control"
                   id="valor"
                   name="valorProduto"
                   required #valor="ngModel"
                   max="2000000000"
                   style="display: none;">
            <td>
              <label for="valorTotalDesc">Valor produto c/ desconto:</label></td>
            <!-- TEXTBOX COM DISPLAY=NONE APENAS PARA FINS DE CALCULO COM O NGMODEL -->
            <input type="number" [(ngModel)]="produto.valorTotalDesc"
                   class="form-control"
                   id="valorTotalDesc"
                   name="valorTotalDescProduto"
                   required #valorTotalDesc="ngModel"
                   max="2000000000"
                   style="display: none;">
            <td colspan="3">
              <div class="mt-1" [ngStyle]="{color:'#198754', fontWeight:'700'}">{{produto.valorTotalDesc | currency : 'BRL'}}</div>
            </td>
          </tr>
          <tr>
            <td><label for="produtoValor">Valor quantidade:</label></td>
            <td>
              <div id="produtoValor" class="mt-1" [ngStyle]="{color:'#198754', fontWeight:'700'}">{{produto.valor || 0 | currency : 'BRL'}}</div>
            </td>
            <!-- Valor Total com Desconto e Valor Total do Frete na mesma linha -->
            <td>
              <label for="valorTotalFrete">Valor total com frete:</label>
            </td>
            <!-- COMBOBOX COM DISPLAY=NONE APENAS PARA FINS DE CALCULO COM O NGMODEL -->
            <input type="number" [(ngModel)]="produto.valorTotalFrete"
                   class="form-control"
                   id="valorTotalFrete"
                   name="valorTotalFreteProduto"
                   required #valorTotalFrete="ngModel"
                   max="2000000000"
                   style="display: none;">
            <td colspan="3">
              <div class="mt-1" [ngStyle]="{color:'#198754', fontWeight:'700'}">{{produto.valorTotalFrete | currency : 'BRL'}}</div>
            </td>
          </tr>
          <tr>
            <td>Desconto:</td>
            <td>
              <input type="text" [(ngModel)]="produto.valorDesconto"
                     class="form-control"
                     id="valorDesconto"
                     name="valorDescontoProduto"
                     required #valorDesconto="ngModel"
                     appPorcentagemMask
                     [disabled] = !produto.promocao>
            </td>
            <td>
              <label for="foto_produto">Foto produto: </label><br>
              <small style="color:#b02a37">Max. 20MB • Somente .jpg / .png</small>
            </td>
            <td colspan="3">
              <input id="foto_produto" type="file" class="form-control" (change)="onFileChange($event)" [disabled]="isMobileOrTablet"/>
            </td>
          </tr>
          <tr>
            <td>
              <span style="color: red">* </span>
              <label for="fornecedor" class="required">Fornecedor:</label>
            </td>
            <td>
              <select [(ngModel)]="fornecedorSelecionado"
                      class="form-control"
                      id="fornecedor"
                      name="fornecedorProduto"
                      required #fornecedor="ngModel"
                      [ngClass]="{'is-invalid': fornecedor.invalid && fornecedor.touched}"
                      (ngModelChange)="onFornecedorChange($event)">
                <option [ngValue]="undefined">Selecione um fornecedor</option>
                <option *ngFor="let fornecedor of fornecedores" [ngValue]="fornecedor">
                  ID {{fornecedor.id}} - {{fornecedor.nome}}
                </option>
              </select>
              <div *ngIf="fornecedor.invalid && fornecedor.touched" class="invalid-feedback">
                O fornecedor é obrigatório.
              </div>
            </td>
            <td colspan="4">
            </td>
          </tr>
          <tr>
            <td colspan="6">
              <hr style="margin: 10px 0; border-top: 1px solid #dee2e6;">
            </td>
          </tr>
          <tr>
            <td colspan="1"><b>VALOR TOTAL: </b></td>
            <input type="number" [(ngModel)]="produto.somaTotalValores"
                   class="form-control"
                   id="somaTotalValores"
                   name="somaTotalValoresProduto"
                   required #somaTotalValores="ngModel"
                   max="2000000000"
                   style="display: none;">
            <td colspan="5">
              <div class="mt-1" [ngStyle]="{color:'#198754', fontWeight:'700'}">{{produto.somaTotalValores | currency : 'BRL'}}</div>
            </td>
          </tr>
          <tr>
            <td colspan="6">
              <div class="button-container">
                <button type="button" class="btn btn-secondary" (click)="calcularValores(produto)">Calcular valores</button>
                <button type="submit" [disabled]="!produtoForm.form.valid" class="btn bg-primary-subtle fw-bold">Cadastrar</button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
</div>

<!-- Janela (modal) que abre depois de cadastrar um produto -->
<ng-template #modalMsgAddProduto let-modal>
  <div class="modal-header">
    <h5 class="modal-title">
      Sucesso!
    </h5>
    <img ngSrc="/codigo_barras.png" height="60" width="60" class="img-right"/>
  </div>
  <div class="modal-body">
    <p>Produto <b>{{ produto.nome }}</b> cadastrado.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Fechar</button>
  </div>
</ng-template>

<!-- Modal de aviso genérico -->
<ng-template #modalAvisoArquivo let-modal>
  <div class="modal-header">
    <h6 class="modal-title">Aviso</h6>
  </div>
  <div class="modal-body">
    <p>{{ avisoTextoModal }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary btn-sm" (click)="modal.close()">Ok</button>
  </div>
</ng-template>
