.modal-header {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;  /* Garante que o modal ocupe toda a largura */
}

.modal-title {
  margin-right: 160px; /* Ajusta para o espaço da imagem */
}

.img-right {
  position: absolute;
  right: 0; /* Coloca a imagem totalmente no lado direito */
  top: 0;   /* Alinha a imagem no topo */
  opacity: 75%;
}
