.modal-header {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;  /* Garante que o modal ocupe toda a largura */
}

.modal-title {
  margin-right: 160px; /* Ajusta para o espaço da imagem */
}

.img-right {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 75%;
}

.div-tabela {
  width: 100%;
  margin: 0 auto;
  overflow-x: auto;
}

p {
  font-size: 16px;
  color: black;
}

h5 {
  font-size: 20px;
  color: black;
}


