<div class="card my-5">
  <div class="card-body">

    <table>
      <tr>
        <td id="searchBar_td">
          <input *ngIf="tipoPesquisaSelecionado === 'id'"
                 type="number"
                 placeholder="Barra de pesquisa..."
                 class="searchBar_input btn-outline-secondary"
                 #searchBar/>
          <input *ngIf="tipoPesquisaSelecionado === 'nome'"
                 type="text"
                 placeholder="Barra de pesquisa..."
                 class="searchBar_input btn-outline-secondary"
                 #searchBar/>
        </td>
        <td>
          <select id="combo_tipo_pesquisa" required
                  (change)=trocarTipoPesquisa()>
            <option selected>ID</option>
            <option>Nome</option>
          </select>
        </td>
        <td>
          <button class="btn btn-outline-secondary fw-bold" id="btn_pesquisar" (click)="efetuarPesquisa()">Pesquisar</button>
        </td>
      </tr>
    </table>

    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th colspan="11" class="text-center">Produtos</th>
      </tr>
      <tr>
        <th class="text-center coluna_id"><strong>ID</strong></th>
        <th class="text-left coluna_nome"><strong>Nome</strong></th>
        <th class="text-center"><strong>Valor unitário</strong></th>
        <th class="text-center"><strong>Promoção</strong></th>
        <th class="text-center"><strong>Vl un desc</strong></th>
        <th class="text-center"><strong>Valor total</strong></th>
        <th class="text-center"><strong></strong></th>
        <th class="text-center"><strong></strong></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let produto of listaDeProdutos">
        <td class="text-center coluna_id">{{ produto.id }}</td>
        <td class="text-left coluna_nome passar_mouse"><u style=color:blue (mouseenter)="mostrarImgPopup(produto)" (mouseleave)="esconderImgPopup()">{{ produto.nome }}</u></td>
        <div *ngIf="popUpVisivel" class="img-popup image-container">
          <img *ngIf="imgBase64" [src]="'data:image/jpeg;base64,' + imgBase64"/>
        </div>
        <td class="text-center">{{ formatarValor(produto.valor) }}</td>
          <td class="text-center">
            <img
              [src]="produto.promocao ? '/bolinha_verde.png' : '/bolinha_vermelha.png'"
              [alt]="produto.promocao ? 'Promoção Ativa' : 'Promoção Inativa'"
              width="25"
              height="25">
          </td>
          <td class="text-center">
            {{ formatarValor(produto.valorTotalDesc) }}
          </td>
          <td class="text-center">
            {{ formatarValor(produto.somaTotalValores) }}
          </td>
          <td class="text-center">
            <button type="button" class="btn btn-info full-width-btn" id="btn_editar" (click)="atualizarProduto(modalEditar, produto.id, produto)">Editar</button>
          </td>
          <td class="text-center">
            <button type="button" class="btn btn-danger full-width-btn" id="btn_excluir" (click)="deletarProduto(modalMsg, produto.id, produto)">Excluir</button>
          </td>
        </tr>

        <!-- Label que exibe a variável do produto mais caro -->
      <tr>
        <td colspan="11" class="text-left">
          <b><label style="font-size: 16px;">* <u>Produto mais caro</u> - <label style="color: green; font-size: 20px">ID: {{ stringProdutoMaisCaro }}</label></label></b> |
          <b><label style="font-size: 16px;">* <u>Média de preço</u>: <label style="color: green; font-size: 20px">{{ formatarValor(mediaPreco) }}</label></label></b>
        </td>
      </tr>
      <tr>
        <td colspan="10" class="text-left">
          <label style="font-size: 12px;">* <b><u>Vl un desc</u>:</b> este é o valor unitário do produto com desconto, caso esteja em promoção. </label><label style="font-size: 12px;"> <b> | <u> Valor total</u>:</b> este é o valor total do produto, com frete e com desconto, caso tenha frete e caso esteja em promoção.</label>
          </td>
        </tr>
      <tr>
        <td>
          <button class="btn bg-primary-subtle fw-bold" (click)="atualizarLista()" role="button">Atualizar</button>
        </td>
      </tr>
      </tbody>
    </table>
    <mat-paginator [length]="totalRecords" [pageSize]="pageSize" [pageIndex]="currentPage" (page)="trocarPagina($event)"></mat-paginator>
  </div>
</div>

<ng-template #modalEditar let-modal>
  <div class="largeTemplate">
    <div class="modal-header">
      <h5 class="modal-title">
        Atualizar produto
      </h5>
      <img ngSrc="/codigo_barras.png" height="60" width="60" class="img-right"/>
    </div>
    <div class="modal-body">
      <p>Informações do produto <b>{{ produtoAtualizar.nome }}</b></p>
    </div>

    <!--######## INICIO DO FORMULÁRIO DE EDIÇÃO DE PRODUTO ######## -->

    <div class="card-body">
      <form (ngSubmit)="onSubmitSalvar(modal)" #produtoForm="ngForm" >
        <table class="table_editar table table-bordered">
          <tbody>
          <tr>
            <td class="coluna_um"><label for="nome">Nome:</label></td>
            <td colspan="3">
              <input type="text" [(ngModel)]="produtoAtualizar.nome"
                     class="form-control"
                     id="nome"
                     name="nomeProduto"
                     placeholder="Insira o nome do produto."
                     required #nome="ngModel"
                     maxlength="50" style="width: 200px">
            </td>
            <td width="100px"><label for="descricao">Descrição:</label></td>
            <td colspan="4">
              <input type="text" [(ngModel)]="produtoAtualizar.descricao"
                     class="form-control"
                     id="descricao"
                     name="descricaoProduto"
                     placeholder="Insira a descrição do produto."
                     required #descricao="ngModel"
                     maxlength="100" style="width: 250px;">
            </td>
          </tr>

          <tr>
            <td class="coluna_um" width="100px"><label for="quantidade">Quantidade:</label></td>
            <td colspan="3">
              <input type="number" [(ngModel)]="produtoAtualizar.quantia"
                     class="form-control"
                     id="quantidade"
                     name="quantidadeProduto"
                     required #quantidade="ngModel"
                     maxlength="1" style="width: 200px">
            </td>
            <td>Desconto:</td>
            <td colspan="4">
              <input type="text" [(ngModel)]="produtoAtualizar.valorDesconto"
                     class="form-control"
                     id="valorDesconto"
                     name="valorDescontoProduto"
                     required #valorDesconto="ngModel"
                     appPorcentagemMask style="width: 250px;">
            </td>
          </tr>

          <tr>
            <td class="coluna_um"><label>Valor do frete:</label></td>
            <td colspan="8">
              <!-- Div para exibir o valor formatado -->
              <div class="mt-1">{{produtoAtualizar.frete | currency : 'BRL'}}</div>
              <input type="number" [(ngModel)]="produtoAtualizar.frete"
                     class="form-control"
                     id="freteTrue"
                     name="freteProduto"
                     required #frete="ngModel"
                     maxlength="30"
                     [disabled]="!produtoAtualizar.freteAtivo"
                     style="width: 100%; display: none;">
            </td>
          </tr>

          <tr>
            <td class="coluna_um"><label for="valor">Valor unitário:</label></td>
            <td colspan="3" style="width: 200px;">
              <input type="number" [(ngModel)]="produtoAtualizar.valor"
                     class="form-control"
                     id="valor"
                     name="valorProduto"
                     required #valor="ngModel"
                     maxlength="30"
                     style="width: 200px">
            </td>
            <td colspan="5">
              <div class="mt-1">{{produtoAtualizar.valor | currency : 'BRL'}}</div>
            </td>
          </tr>

          <tr>
            <td class="coluna_um"><label for="valorTotalDesc">Valor total com desconto:</label></td>
            <td colspan="8">
              <input type="number" [(ngModel)]="produtoAtualizar.valorTotalDesc"
                     class="form-control"
                     id="valorTotalDesc"
                     name="valorTotalDescProduto"
                     required #valorTotalDesc="ngModel"
                     maxlength="30"
                     style="width: 100%; display: none;">
              <div class="mt-1">{{produtoAtualizar.valorTotalDesc | currency : 'BRL'}}</div>
            </td>
          </tr>

          <tr>
            <td class="coluna_um"><label for="valorTotalFrete">Valor total com frete:</label></td>
            <td colspan="8">
              <input type="number" [(ngModel)]="produtoAtualizar.valorTotalFrete"
                     class="form-control"
                     id="valorTotalFrete"
                     name="valorTotalFreteProduto"
                     required #valorTotalFrete="ngModel"
                     maxlength="30"
                     style="width: 100%; display: none;">
              <div class="mt-1">{{produtoAtualizar.valorTotalFrete | currency : 'BRL'}}</div>
            </td>
          </tr>

          <tr>
            <td class="coluna_um"><label for="promocao">Promoção:</label></td>
            <td colspan="3">
              <select [(ngModel)]="produtoAtualizar.promocao"
                      class="form-control"
                      id="promocao"
                      name="promocaoProduto"
                      required #promocao="ngModel"
                      (ngModelChange)="selecionarPromocao($event)" style="width: 100%;">
                <option [ngValue]="true">Sim</option>
                <option [ngValue]="false">Não</option>
              </select>
            </td>
            <td><label for="freteAtivo">Frete:</label></td>
            <td colspan="4">
              <select [(ngModel)]="produtoAtualizar.freteAtivo"
                      class="form-control"
                      id="freteAtivo"
                      name="freteAtivoProduto"
                      required #freteAtivo="ngModel"
                      (ngModelChange)="ativarFrete($event)" style="width: 100%;">
                <option [ngValue]="true">Sim</option>
                <option [ngValue]="false">Não</option>
              </select>
            </td>
          </tr>

          <tr>
            <td class="coluna_um" colspan="9">
              <input id="foto_produto" type="file" (change)="onFileChange($event)" />
            </td>
          </tr>

          <tr>
            <td class="coluna_um">
              <label for="somaTotalValores"><b>VALOR TOTAL: </b></label>
            </td>
            <td class="coluna_dois" colspan="8">
              <input type="number" [(ngModel)]="produtoAtualizar.somaTotalValores"
                     class="form-control"
                     id="somaTotalValores"
                     name="somaTotalValoresProduto"
                     required #somaTotalValores="ngModel"
                     maxlength="15"
                     style="width: 100%; display: none;">
              <div class="mt-1">{{produtoAtualizar.somaTotalValores | currency : 'BRL'}}</div>
            </td>
          </tr>

          <tr>
            <td class="coluna_um" colspan="2">
              <button type="button" class="btn btn-secondary" (click)="calcularValores(produtoAtualizar)">Calcular valores</button>
            </td>
            <td class="coluna_dois text-left" colspan="7">
              <button type="submit" [disabled]="!produtoForm.form.valid" class="btn bg-primary-subtle fw-bold" (click)="abrirTelaAviso(modalAviso)">Salvar</button>
            </td>
          </tr>
          </tbody>
        </table>
      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close()">Fechar</button>
    </div>
  </div>
</ng-template>
<!--######## FIM DO MODAL DE EDIÇÃO DE PRODUTO ######## -->

<!-- Janela (modal) que abre ao clicar no botão Excluir -->
<ng-template #modalMsg let-modal>
  <div class="modal-header">
    <h5 class="modal-title">
      Sucesso!
    </h5>
    <img ngSrc="/codigo_barras.png" height="60" width="60" class="img-right"/>
  </div>
  <div class="modal-body">
    <a>Produto <b>{{ produtoExcluido.nome }}</b> excluído.</a>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Fechar</button>
  </div>
</ng-template>

<!-- Janela (modal) de AVISO que abre depois de Salvar as atualizações de um produto -->
<ng-template #modalAviso let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      AVISO!
    </h4>
    <img ngSrc="/codigo_barras.png" height="60" width="60" class="img-right"/>
  </div>
  <div class="modal-body">
    <a style="font-size: 15px;">Informações atualizadas! Clique em <strong>ATUALIZAR</strong> para visualizar</a><br>
    <a style="font-size: 15px;">as alterações!</a>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Fechar</button>
  </div>
</ng-template>
