<div class="container my-5">
  <div class="d-flex flex-column flex-md-row login-cards-container">
    <!-- Primeiro card -->
    <mat-card class="profile-card me-md-3 mb-3 mb-md-0" style="flex: 1;">
      <mat-card-content>
        <div class="div-form-login">
          <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div class="div-tabela">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th colspan="4" class="text-center">LOGIN</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td class="coluna-1">
                    <label for="login">Usuário:</label>
                  </td>
                  <td colspan="3" class="coluna-2">
                    <input type="text" [(ngModel)]="usuario.login"
                           class="form-control"
                           id="login"
                           name="loginUsuario"
                           placeholder="Insira o seu usuário."
                           required #nome="ngModel"
                           maxlength="30">
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="senha">Senha:</label>
                  </td>
                  <td colspan="3" class="coluna-2">
                    <div class="input-group">
                      <input [type]="mostrarSenha ? 'text' : 'password'"
                             [(ngModel)]="usuario.senha"
                             class="form-control"
                             id="senha"
                             name="senhaUsuario"
                             placeholder="Insira sua senha."
                             required
                             #nome="ngModel"
                             maxlength="30">
                      <span class="input-group-text" style="cursor: pointer;" (click)="toggleSenha()">
                      <i [class]="mostrarSenha ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
                  </span>
                    </div>
                  </td>
                <tr>
                  <td>
                    <button type="submit" [disabled]="!loginForm.form.valid"
                            class="btn bg-primary-subtle fw-bold"
                            [class.btn-login]="isMobile"
                            [style.width]="isMobile ? '74px' : '145px'"
                            [style.height]="isMobile ? 'auto' : '45px'"
                            [style.fontSize]="isMobile ? '12px' : '16px'">Entrar</button>
                  </td>
                  <td colspan="2" class="coluna-2 text-center">
                    <button type="button"
                            class="btn bg-secondary-subtle fw-bold"
                            [class.btn-cadastrar]="isMobile"
                            [style.width]="isMobile ? '74px' : '200px'"
                            [style.height]="isMobile ? 'auto' : '45px'"
                            [style.fontSize]="isMobile ? '12px' : '16px'"
                            (click)="cadastrarNovoUsuario()">Cadastrar</button>
                  </td>
                  <td style="text-align: center; vertical-align: middle;">
                    <p><u style="font-size: 12px;">Esqueci minha senha</u><span style="font-size: 8px; color: red">em construção</span></p>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="profile-card" style="flex: 1;">
      <mat-card-content>
        <div class="card-container">
          <!-- Indicador no canto superior esquerdo -->
          <div class="hover-hint">Passe o mouse</div>
          <!-- Overlay com fundo preto transparente e texto -->
          <div class="overlay-text">
              <p class="welcome-text">
                  Olá, me chamo Matheus. Seja bem vindo ao Prodify. Este site consiste em um sistema de gerenciamento de produtos, mas também é meu portfólio. Fique a vontade
                  para criar uma conta e navegar pelas páginas do site. Ah, e o código do sistema está disponível. Saiba mais na página Sobre. Contato: (41) 99539-7044 / matheusreynardkolling2&#64;gmail.com.
                  Obrigado!
              </p>
          </div>
          <!-- Animação existente (fica por baixo) -->
          <div class="text-bar">
              <div class="typing-text text-1">Matheus Reynard</div>
              <div class="typing-text text-2">Mid-Level Software Engineer at BTG Pactual</div>
              <div class="typing-text text-3">(41) 99539-7044 / Curitiba-PR</div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- Janela (modal) que abre depois da msg de TOKEN expirado -->
<ng-template #modalMsgToken let-modal class="modal">
  <div class="modal-header">
    <h5 class="modal-title">AVISO</h5>
    <img ngSrc="/codigo_barras.png" height="60" width="60" class="img-right"/>
  </div>
  <div class="modal-body">
    <a>Você atingiu o tempo limite de conexão com o sistema. Por favor, faça login novamente.</a>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Fechar</button>
  </div>
</ng-template>

<!-- Modal pequeno para inatividade -->
<ng-template #inatividadeModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Sessão encerrada por inatividade</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="fecharModal()"></button>
  </div>
  <div class="modal-body">
    <p>Sua sessão foi encerrada devido à inatividade. Por favor, faça login novamente para continuar.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="fecharModal()">Entendi</button>
  </div>
</ng-template>


<!-- Janela (modal) que abre depois de inserir credenciais inválidas -->
<ng-template #modalMsgCredenciais let-modal class="modal">
  <div class="modal-header">
    <h4 class="modal-title">Erro</h4>
    <img ngSrc="/codigo_barras.png" height="60" width="60" class="img-right"/>
  </div>
  <div class="modal-body">
    <a>Nome de usuário e/ou senha inválidos.</a>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Fechar</button>
  </div>
</ng-template>
