p {
  font-size: 13px;
}

.container {
  width: 100%;
  margin: 0 auto;
  overflow-x: auto;
}

.profile-card {
  width: 100%; /* Ocupar 100% da largura disponível */
  height: auto; /* Altura automática, ajusta-se ao conteúdo */
  padding: 20px; /* Você pode ajustar conforme necessário */
  box-shadow: none; /* Remover sombra, se necessário, para um visual mais limpo */
  text-align: justify;
}

.div-form-login {
  display: flex;            /* Ativa o flexbox */
  flex-direction: column;   /* Alinha os elementos em coluna */
  justify-content: center;  /* Centraliza o conteúdo verticalmente */
  align-items: center;      /* Centraliza o conteúdo horizontalmente */
  height: 100%;             /* Faz com que a div ocupe 100% da altura do mat-card */
}

.img-right {
  position: absolute;
  right: 0; /* Coloca a imagem totalmente no lado direito */
  top: 0;   /* Alinha a imagem no topo */
  opacity: 75%;
}

.div-tabela {
  overflow-x: auto;
}

.table {
  width: auto; /* Permite que a tabela se ajuste ao conteúdo */
  table-layout: auto; /* Usa layout automático */
}

.table td {
  white-space: nowrap; /* Evita quebra de linha dentro da célula */
  vertical-align: middle; /* Alinha o conteúdo verticalmente */
}

.maps-info-card, p {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.maps-info-header {
  display: flex;
  margin-bottom: 0.5rem;
}

.maps-info-image-container {
  margin-right: 1rem;
}

.maps-info-text {
  flex-grow: 1;
}

.maps-info-paragraph {
  margin-bottom: 0.5rem;
}

.maps-info-footer {
  margin-top: 1rem;
}

.maps-info-important {
  font-weight: bold;
  color: #0d6efd; /* Cor primária do Bootstrap */
}
