#btn_excluir, #btn_editar {
  font-size: 13px;
}

.full-width-btn {
  width: 100%;
  display: block;
}

/* Garantir que a largura das colunas seja fixa ou proporcional */
.table th, .table td {
  padding: 10px;      /* Adiciona um padding consistente */
}

.table td button {
  width: 100%;        /* Faz o botão ocupar toda a célula */
}

/* Alinha todos os botões de "Editar" e "Excluir" na mesma largura */
.full-width-btn {
  width: 100%;
  display: block;
}

.modal-header {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;  /* Garante que o modal ocupe toda a largura */
}

.modal-title {
  margin-right: 160px; /* Ajusta para o espaço da imagem */
}

.img-right {
  position: absolute;
  right: 0; /* Coloca a imagem totalmente no lado direito */
  top: 0;   /* Alinha a imagem no topo */
  opacity: 75%;
}
