<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #produtoForm="ngForm">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th colspan="4" class="text-center">Cadastrar um novo produto</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <!-- Nome do Produto -->
          <td><label for="nome">Nome:</label></td>
          <td>
            <input type="text" [(ngModel)]="produto.nome"
                   class="form-control"
                   id="nome"
                   name="nomeProduto"
                   placeholder="Insira o nome do produto."
                   required #nome="ngModel"
                   maxlength="50">
          </td>

          <!-- Descrição do Produto -->
          <td><label for="descricao">Descrição:</label></td>
          <td>
            <input type="text" [(ngModel)]="produto.descricao"
                   class="form-control"
                   id="descricao"
                   name="descricaoProduto"
                   placeholder="Insira a descrição do produto."
                   required #descricao="ngModel"
                   maxlength="150">
          </td>
        </tr>
        <tr>
          <td><label for="valor">Valor:</label></td>
          <td class="d-flex flex-column">
            <!-- Input valor -->
            <input type="number" [(ngModel)]="produto.valor"
                   class="form-control"
                   id="valor"
                   name="valorProduto"
                   placeholder="Insira o valor do produto."
                   required #valor="ngModel"
                   maxlength="20">
            <!-- Div para exibir o valor formatado -->
            <div class="mt-1">{{produto.valor | currency : 'BRL'}}</div>
          </td>

          <td><label for="quantidade">Quantidade:</label></td>
          <td>
            <input type="number" [(ngModel)]="produto.quantia"
                   class="form-control"
                   id="quantidade"
                   name="quantidadeProduto"
                   placeholder="Insira a quantidade do produto em estoque."
                   required #quantidade="ngModel"
                   maxlength="20">
          </td>
        </tr>
        <tr>
          <td colspan="4" class="text-left">
            <button type="submit" [disabled]="!produtoForm.form.valid" class="btn bg-primary-subtle fw-bold" (click)="msgAddProduto(modalMsg)">Cadastrar</button>
          </td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>

<!-- Janela (modal) que abre depois de cadastrar um produto -->
<ng-template #modalMsg let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Sucesso!</h5>
  </div>
  <div class="modal-body">
    <a>Produto <b>{{ produto.nome }}</b> cadastrado.</a>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Fechar</button>
  </div>
</ng-template>

