body {
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-mode {
  background-color: #121212 !important;
  color: #ffffff !important;
}

.bg-gradient {
  background: linear-gradient(to right, #f8f9fa, #e9ecef);
  transition: background 0.5s ease;
}

/* Ajustando botões */
.btn-light-dark {
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f8f9fa;
  color: #000;
  transition: background 0.5s, color 0.5s;
}

.dark-mode .btn-light-dark {
  background-color: #333 !important;
  color: white !important;
}

/* Bordas e botões */
.border-secondary {
  border-color: #6c757d !important;
}

.dark-mode .border-secondary {
  border-color: #aaa !important;
}

/* Estilizando botões */
.btn-outline-secondary {
  border-color: #6c757d;
  color: #6c757d;
  transition: background 0.5s, color 0.5s;
}

.btn-outline-secondary:hover {
  background-color: #6c757d;
  color: white;
}

.dark-mode .btn-outline-secondary {
  border-color: white !important;
  color: white !important;
}

.dark-mode .btn-outline-secondary:hover {
  background-color: white !important;
  color: black !important;
}

/* Para NgBootstrap Modal (que você parece estar usando) */
.modal-content {
  color: black !important;
}

/* Se estiver usando Angular Material Dialog */
.mat-dialog-container {
  color: black !important;
}
